<div id="header">
  <h1><%= link_to RefinerySetting.find_or_set(:site_name, "Website Name"), root_path %></h1>
  <h2><span class="highlight"><%= raw RefinerySetting.find_or_set(:header_quote, 'Because managing your site should just be easy.').html_safe %></span></h2>
</div>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
